# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PEP 582
__pypackages__/

# Environments
.env
.venv
env/
venv/

# pytype static type analyzer
.pytype/

# Visual Studio Code
.vscode/
